{
    "format": "excel",
    "exchanges": [ 
        {
            "name": "binance",
            "symbols": ["BTC_USDT"],
            "key": "xxx",
            "secret": "xxx"
        },
        {
            "name": "exchangeratesapi",
            "url": "https://api.exchangeratesapi.io/latest?base=USD", 
            "symbols": ["EUR"]
        }
    ]
}